/* pdf preview pane */

#pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* UploadPdf */

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
}
#drop-area:hover, #drop-area.active {
    border-color: #007bff;
    background-color: #d5d8dc;
}

/* SelectCsvHeaders */

span[role="presentation"]:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid darkgrey;
    cursor: pointer;
}
span[selected="true"] {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid red !important;
}
span[excluded="true"] {
    background-color: lightgray;
    opacity: 0.75;
}

.pdfPage > .textLayer {
    border: 1px solid darkgrey;
}

#upload-button {
    margin-top: 20px;
}

.pdfDocument {
    width: fit-content;
}

/* general classes */

body {
    background-color: #eaecee;
    padding-bottom: 100px;
}

.footer {
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.home {
    font-weight: bolder;
}

.logo {
    height: 23px;
}

.alert {
    font-weight: bold;
}

form {
    background: #f1f7ff;
}

.form-group {
    padding-top: 10px;
}

fieldset {
    padding-top: 10px;
}

.hidden {
    display: none;
}
