/* pdf preview pane */

#pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* UploadPdf */

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
}
#drop-area:hover, #drop-area.active {
    border-color: #007bff;
    background-color: #e9ecef;
}

/* SelectCsvElement */

span[role="presentation"]:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid darkgrey;
    cursor: pointer;
}
span[selected="true"] {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid red !important;
}

.pdf {
    border: 1px solid darkgrey;
}

#upload-button {
    margin-top: 20px;
}

/* general classes */
.hidden {
    display: none;
}
